@charset "utf-8";

/*FONTES EXTERNAS*/
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Playball');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Kalam');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');

#cabecalho-site img#foto-menu {
    width: 1265px;
    height: 450px;
    margin-top: -20px;
    margin-left: -50px;
    margin-bottom: 0px;
}

#titulos-menu h1{
    position: absolute;
    top: 130px;
    left: 450px;
    font-size: 60pt;
    font-family: 'Great Vibes', cursive;
    color: #f5efef;
    font-weight: none;
}

#titulos-menu h2 {
    position: absolute;
    top: 100px;
    left: 30px;
    font-size: 19pt;
    font-family: 'Josefin Sans', sans-serif;
    color: #f6eded;
}

nav#menu-principal {
    display: block;
}

nav#menu-principal ul {
    position: absolute;
    top: 50px;
    left: 630px;
}

nav#menu-principal li {
    display: inline-block;
    margin: 15px;
    padding: 0px;
}
nav#menu-principal a {
    color: #c8c3c3;
    text-decoration: none;
    font-size: 11pt;
    font-family: 'Josefin Sans', sans-serif;
}
nav#menu-principal a:hover {
    color: #ffffff;
    font-weight: bolder;    
}

section#conteudo-principal {
    width: 1262px;
    height: 1120px;
    margin-top: -48px;
    margin-left: -8px;
}
#conteudo-principal article#historia-cafeteria {
    width: 1000px;
    margin: auto;
    height: 600px;
}
#conteudo-principal article#historia-cafeteria h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 50pt;
    color: #b83535;
    text-align: center;
    padding-top: 40px; 
    margin-bottom: 0px;
}
#conteudo-principal article#historia-cafeteria p {
    font-family: 'Kalam', cursive;
    font-size: 15pt;
    text-align: justify;
    text-indent: 12px;
}
#conteudo-principal article#historia-cafeteria img#foto-interna {
    width: 455px;
    height: 260px;
    border-radius: 5px 50px 30px 5px; 
}
#conteudo-principal article#historia-cafeteria aside#conteudo-lateral {
    width: 520px;
    float: right;
    margin-top: -20px;
}

#apresentacao-representantes {
    width: 1262px;
    height: 500px;
    margin-top: -50px;
    margin-bottom: 0px;
    background-color: #f5f4fa;
}
#apresentacao-representantes h3 {
    font-family: 'Great Vibes', cursive;
    font-size: 45pt;
    color: #b83535;
    text-align: center;
    padding-top: 30px; 
    margin-bottom: 0px;
}
#apresentacao-representantes p {
    font-family: 'Kalam', cursive;
    font-size: 17pt;
    text-align: justify;
    text-indent: 12px;
    text-align: center;
    margin-top: -2px;
}

section#apresentacao-dono {
    width: 50%;
}
img#foto-dono {
    margin-left: 30px; 
    margin-top: 20px;
    margin-right: 0px; 
    width: 255px;
    border-radius: 40%;
}

div#proprietario {
    float: right;
    padding-right: 50px;
    padding-top: 65px;
    font-size: 16pt;
    font-family: 'DM Sans', sans-serif;
}

section#apresentacao-gerente {
    width: 50%;
    float: right;
    margin-top: -190px; 
    padding-right: 0px;
} 
img#foto-gerente {
    width: 250px;
    border-radius: 40%;
}

div#gerente {
    float: right;
    padding-right: 85px;
    padding-top: 42px;
    font-family: 'DM Sans', sans-serif;
    font-size: 16pt;
}
#direitos {
    width: 965px;
    height: 45px;
    margin-top: 18px;
    margin-left: -10px;
    color: #cfc2c2;
    background-color: rgb(44, 42, 42);
    padding: 1px 0px 1px 300px;
}
#direitos .a {
    padding-left: 15px;
}
#direitos .b {
    padding-left: 15px;
}
