/*FONTES EXTERNAS*/
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Playball');

/* CABEÇALHO DO SITE */
#foto-menu {
    width: 1283px;
    height: 600px;
    margin-top: -20px;
    margin-left: -50px;
}

figcaption h3 {
    position: absolute;
    top: 325px;
    left: 455px;
    font-family: 'Josefin Sans', sans-serif;
    color: #979494;
    text-shadow: none;
}

#span1 {
    font-weight: bolder;
    color: #ffffff;
    text-decoration: underline;
}

#titulos-menu h1{
    position: absolute;
    top: 210px;
    left: 340px;
    font-size: 55pt;
    font-family: 'Lobster', cursive;
    color: #f5efef;
}

nav#menu-principal {
    display: block;
}

nav#menu-principal ul {
    position: absolute;
    top: 90px;
    left: 630px;
}

nav#menu-principal li {
    display: inline-block;
    margin: 15px;
    padding: 0px;
}
nav#menu-principal a {
    color: #c8c3c3;
    text-decoration: none;
    font-size: 12pt;
    font-family: 'Josefin Sans', sans-serif;
}
nav#menu-principal a:hover {
    color: #ffffff;
    font-weight: bolder;    
}

section#texto-apresentacao {
    height: 450px;
    width: 1287px;
    margin: -25px 0px 0px -8px;
    background-color: #ffffff;
}

#foto-esquerda {
    position: absolute;
    margin: 0px;
    right: 0px;
    top: 830px;
}

#foto-direita {
    position: absolute;
    margin: 0px;
    margin-left: -15px;
    left: 0px;
    top: 810px;
}
