/*FONTES EXTERNAS*/
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Playball');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Kalam');

/* CABEÇALHO DO SITE */
body{
   padding: 0px;
   margin: 0px;
}

#foto-menu {
    width: 1283px;
    height: 600px;
    margin-top: -20px;
    margin-left: -50px;
    margin-bottom: 0px;
}

figcaption h3 {
    position: absolute;
    top: 325px;
    left: 455px;
    font-family: 'Josefin Sans', sans-serif;
    color: #979494;
    text-shadow: none;
}

#span1 {
    font-weight: bolder;
    color: #ffffff;
    text-decoration: underline;
}

#titulos-menu h1{
    position: absolute;
    top: 210px;
    left: 340px;
    font-size: 55pt;
    font-family: 'Lobster', cursive;
    color: #f5efef;
}

nav#menu-principal {
    display: block;
}

nav#menu-principal ul {
    position: absolute;
    top: 90px;
    left: 630px;
}

nav#menu-principal li {
    display: inline-block;
    margin: 15px;
    padding: 0px;
}
nav#menu-principal a {
    color: #c8c3c3;
    text-decoration: none;
    font-size: 12pt;
    font-family: 'Josefin Sans', sans-serif;
}
nav#menu-principal a:hover {
    color: #ffffff;
    font-weight: bolder;    
}

#foto-direita {
    position: absolute;
    top: 760px;
    right: -10px;
}

#foto-esquerda {
    position: absolute;
    top: 1000px;
    left: -30px;
}

article#historia {
    width: 800px;
    height: 600px;
    margin-left: 220px;
    margin-top: -40px;
}
article#historia h2 {
    font-family: 'Playball', sans-serif;
    font-size: 50pt;
    color: #a81010;
    text-align: center;
    padding-top: 100px; 
    margin-bottom: 0px;
}
article#historia p {
    font-family: 'Kalam', cursive;
    font-size: 20pt;
    text-align: justify;
    text-indent: 12px;
}

article#historia span {
    font-weight: bold;
}

article#historia h3 p {
    text-align: right;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 20pt;
    color: #979494;
}

article#artigo-tabela img {
    margin: 0px;
    width: 1285px;
    height: 550px;
}

table.lado-direito {
    color: blue;
}