

/* CABEÇALHO DO SITE */
header#cabecalho-site {
    margin-top: -16px;
    margin-left: -48px;
    max-width: 1000px;
}

figcaption h3 {
    position: absolute;
    top: 330px;
    left: 350px;
}

hgroup#titulos-menu h1{
    position: absolute;
    top: 250px;
    left: 250px;
    font-size: 35pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

hgroup#titulos-menu h2 {
    position: absolute;
    top: 105px;
    left: 25px;
}

nav#menu-principal {
    display: block;
    
}

nav#menu-principal ul {
    position: absolute;
    top: 110px;
    left: 530px;
}

nav#menu-principal li {
    
    display: inline-block;
}